xml-resources/web-service-references/WeatherServiceBasic/wsdl/localhost_50505/WeatherServiceBasic.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherServiceApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherServiceApplication"><xs:complexType name="ArrayOfJavaMessage"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="JavaMessage" nillable="true" type="tns:JavaMessage"/></xs:sequence></xs:complexType><xs:element name="ArrayOfJavaMessage" nillable="true" type="tns:ArrayOfJavaMessage"/><xs:complexType name="JavaMessage"><xs:sequence><xs:element minOccurs="0" name="Humidity" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Place" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Temp" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Time" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="WindSpeed" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="JavaMessage" nillable="true" type="tns:JavaMessage"/></xs:schema>